@import "tailwindcss";
/* dark:hover:border-[hsl(41,98%,65%)] */
@custom-variant dark (&:is(.dark *));

:root {
  --bg-light: #f5f5f5;
  --bg-dark1: #111111;
  --bg-dark2: #222222;
  --bg-dark3: #333333;
  --blueLike: #5bacf6;
}


@theme inline {
  --color-light: var(--bg-light);

  --color-dark1: var(--bg-dark1);

  --color-dark2: var(--bg-dark2);

  --color-dark3: var(--bg-dark3);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-montserrat);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-bebas);
}
